.topo {
    background-color: var(--fundo-rodape-topo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

.topo-botao {
    border-radius: 25px;
    padding: 8px;
    border: .5px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topo-botao img {
    width: 20px;
}