.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.banner-imagem,
.banner-conteudo {
    width: 50%;
    min-width: 280px;
}

.banner-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--fundo-banner);
    padding: 1em;
}

.banner-conteudo-estilizado {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.banner-conteudo-titulo {
    color: var(--cor-titulo-banner);
    font-weight: 500;
    font-size: 40px;
    width: 450px;
}

.conteudo-destaque {
    font-weight: bold;
}

/* Queries */
@media screen and (max-width: 932px) {
    .banner-conteudo-titulo {
        width: 300px;
        font-size: 28px
    }

}

@media screen and (max-width: 784px) {
    .banner-imagem {
        display: none;
    }

    .banner-conteudo {
        width: 100%;
        height: 500px
    }
}

@media screen and (max-width: 375px) {
    .banner-conteudo-titulo {
        width: 100%;
        font-size: 24px
    }

}